@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

body {
  background-color: black;
  font-family: "Anton", sans-serif;
  overflow: hidden; 
}

main {
  background-color: white;
  margin: 10%;
  margin-left: 40%;
  margin-right: 30%;
  padding: 1rem;
}
.img{
  
  background-image: url("fuego.svg");
  background-size: cover  ; /*para que la imagen cubra todo el fondo*/
  background-repeat: no-repeat; /*para que no se repita la imagen*/
  background-position: center center; /*posición centrada*/
}

.imgcont{
  
  max-width: 80%;
  float: top right;

}

  


button {
  margin-left: 40%;
}

h1 {
  text-align: left;
}

p {
  vertical-align: top;
}

.texto {
  width: 50%;
  float: left;
}

form {
  width: 45%;
  float: right;
  
}
